doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/assets/css/test.css')
    title Image to Text using AI
  body
    section.productCard
      .container
        .info
          h3.name click button below to start text extraction
          //- h1.slogan 
          //- p.price With a single click!
          .buttons
            .button.colored extract text
        br
        .info
          h3.name
          p.price
        .colorLayer
        .preview
          .imgs
            img.activ(src='/assets/img/backgrounds/18.jpg', alt='img 1')

